@use "sass:math";
@use "./variables" as *;

@function rem($size, $unit: "") {
  $remSize: math.div($size, $root-font-size);

  @if ($unit == false) {
    @return #{$remSize};
  } @else {
    @return #{$remSize}rem;
  }
}
