//
// Base
//
@use "./support/support" as *;

//
// Modules
//
@use "./variables" as *;
@use "./base" as *;
@use "./content" as *;
// @import "variables.scss";
@use "./typography" as *;
@use "./utilities/utilities" as *;
@use "./portal" as *;

// Portal Start

$spacing-unit: 30px !default;

// Portal end

// for task links, the decorations around the links
.task-before {
  margin-right: 0.5rem;
  opacity: 0.8;
}
.task-after {
  margin-left: 0.5rem;
  opacity: 0.8;
}
.task-status-text {
  opacity: 0.8;
  margin-right: 0.5rem;
}
