//
// Base
//
@use "./support/support" as *;

//
// Modules
//
@use "./variables" as *;
@use "./base" as *;
@use "./content" as *;
// @import "variables.scss";
@use "./typography" as *;
@use "./utilities/utilities" as *;

// Portal Start
$base-line-height: 1 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
// Portal end
@use "portal.scss" as *;

// for task links, the decorations around the links
.task-before {
  margin-right: 0.5rem;
  opacity: 0.8;
}
.task-after {
  margin-left: 0.5rem;
  opacity: 0.8;
}
.task-status-text {
  opacity: 0.8;
  margin-right: 0.5rem;
}
