name: Integration Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: check out repository
        uses: actions/checkout@v4

      - name: setup node.js
        uses: actions/setup-node@v4
      
      - name: install dependencies
        run: yarn install --immutable

      - name: build
        run: yarn build

      - name: build plugin
        run: yarn build:plugin     

      - name: test plugin
        run: yarn test:plugin --ci --reporters=github-actions