name: publish npm package (test) 

on:
  push:
    tags:
      - "*"

jobs:
  test:
    name: publish to npm ??
    runs-on: ubuntu-latest

    steps:

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16.20.2'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: build package
        run: yarn workspace ${{ github.ref_name }} build

      - name: run tests
        run: yarn workspace ${{ github.ref_name }} test

    #publish   