name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  clone:
    runs-on: ubuntu-latest

    steps:
      - name: check out repository
        uses: actions/checkout@v4